<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gkemon.XMLtoPDF">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:requestLegacyExternalStorage="true">
        <provider
            android:name=".model.XmlToPDFFileProvider"
            android:authorities="${applicationId}.xmlToPdf.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>


</manifest>